{% extends 'civic/base.html' %}

{% block content %}
<h1>Find Your Representative!</h1>
To utilize our templates, you'll need someone to send them to! This page contains a list of tools that can help you find out who represents you in government, and how to get in contact with them.
<br><br>Note that these links will take you to external sites, not owned or operated by Civic Connect or The Full Stack Citizens.
<h1>Virginia Residents</h1>
Virginia residents can find their state and national legislators using <a href="https://whosmy.virginiageneralassembly.gov/">Virginia General Assembly's website</a> or <a href="https://www.commoncause.org/find-your-representative/change-your-address">Common Cause</a>.
<h1>United States</h1>
<a href="https://www.commoncause.org/find-your-representative/change-your-address">Common Cause</a> can also be used for representatives representatives anywhere in the United States.
<h1>Other Countries</h1>
<a href="https://represent.opennorth.ca/demo/">Canadian Representative Finder</a>.
<br><a href="https://op.europa.eu/en/web/who-is-who">EU Official Directory</a>.
<br><a href="https://members.parliament.uk/members/commons">UK Parliament MP and Lord Lookup</a>.
{% endblock %}
